/* WIMS Nova Theme CSS */
# construire-css.sh concatène les feuilles ci-dessous, dans cet ordre.
#
# 1. Nova : polices et jetons d'abord (les feuilles suivantes peuvent les utiliser).
--- Nova/_css/polices.css ---
--- Nova/_css/jetons.css ---
#
# 2. Feuilles communes de WIMS conservées (métier) : exercices, feuilles, examens, forum…
#    Nova les surcharge plus bas au lieu de les réécrire (décision du 2026-10-01).
--- _css/foundation_responsive-embed.css ---
--- _css/maths.css ---
--- _css/tooltip.css ---
--- _css/table_sort.css ---
--- _css/boxes.css ---
--- _css/utilities.css ---
--- _css/utilities2.css ---
--- _css/wimstable.css ---
--- _css/code.css ---
--- _css/help.css ---
--- _css/classuser.css ---
--- _css/classes.css ---
--- _css/sequence.css ---
--- _css/forum.css ---
--- _css/sheet.css ---
--- _css/exam.css ---
--- _css/oef.css ---
--- _css/button.css ---
--- _css/home.css ---
--- _css/wimstitle.css ---
--- _css/createxo.css ---
--- _css/exercise.css ---
--- _css/docu.css ---
--- _css/forms.css ---
--- _css/input_groups.css ---
--- _css/search_engine.css ---
--- _css/lang_select.css ---
--- _css/errors.css ---
--- _css/bubble_talk.css ---
--- _css/scorebar.css ---
--- _css/foundation_card.css ---
--- _css/foundation_reveal.css ---
--- _css/glossary.css ---
--- _css/bootstrap_vars.css ---
--- _css/bootstrap_nav.css ---
--- _css/seriebar_arrows.css ---
#
# 3. Foundation : seulement ce que WIMS utilise encore (foundation-min.css remplace
#    foundation_flex, _menu, _dropdown_menu, _visibility et _xygrid ; le JS reste chargé).
--- Nova/_css/foundation-min.css ---
#
# 4. Nova : surcharges, en dernier. Le cadre de Standard (theme.css, general.css, typo.css,
#    breadcrumbs.css, menumodubox-accordion.css, menumodubox_fixed.css, logo.css, std_l2w.css) est
#    remplacé par cadre.css et composants.css, qui en reprennent les contextes particuliers.
--- Nova/_css/composants.css ---
--- Nova/_css/cadre.css ---
--- Nova/_css/chrono.css ---
--- Nova/_css/contenu.css ---
--- Nova/_css/base.css ---
